<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoLY2SGlb9R-NFrjc7Sgh5gX7y3ffJ-gE</string>
	<key>GCM_SENDER_ID</key>
	<string>410158710230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.felicitysolar.hrm</string>
	<key>PROJECT_ID</key>
	<string>smartflow-hrms</string>
	<key>STORAGE_BUCKET</key>
	<string>smartflow-hrms.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410158710230:ios:b5f5541d46e15f54b77877</string>
</dict>
</plist>
